/**
 * @Author: hully
 * @Date:   2017-09-06 15:50:55
 * @Email:  hull@docy.co
 * @Last modified by:   hully
 * @Last modified time: 2017-09-12 17:36:39
 */

.container {
  float: right;
  width: 90%;
  height: 80%;
  position: absolute;
  top: 10%;
  right: 0px;
  background-color: #E1FFFF;
  text-align: center;
  z-index: -100;
}


.welcome {
  font-size: 5em;
  text-shadow: 5px 5px 5px #FF0000;

  span {
    position: relative;
    top: 40%;
  }
}



.book_form {

  form {
    position: relative;
    top: 25%;
  }

  .form_row {
    margin-bottom: 10px;

    .form_span {
      margin-right: 10px;
    }

    input {
      border: 0px;
      height: 20px;
      width: 200px;
    }
  }

  button {
    width: 100px;
    height: 30px;
    margin: 10px 20px;
    border: 1px solid #F0FFFF;
    font-size: 20px;
    border-radius: 10px;
    background-color: #E6E6FA;
    &:hover {
      cursor: pointer;
    }
  }
}

.order_list {
  height: 100%;

  .order_title {
    width: 70%;
    margin: 20px 0px 0px 50px;


    .order_card_img_name {
      float: left;
      width: 40%;
      text-align: left;
    }
    .order_card_price, .order_card_count {
      float: left;
      width: 20%;
    }
    .order_card_name {
      float: left;
      width: 20%;
    }

    .order_card_nums {
      float: left;
      width: 10%;
    }
  }




  .order_card {
    margin: 10px 0px 0px 50px;
    width: 70%;
    height: 180px;
    border: 1px solid #eee;
    border-radius: 5px;

    span {
      margin-top: 20px;
    }
    .order_img, .order_price, .order_count {
      float: left;
      width: 20%;
    }
    .order_name {
      float: left;
      width: 20%;
    }

    .order_nums {
      float: left;
      width: 10%;
    }


    .order_name {
      word-wrap: break-word;
    }
  }
}

.book_list {

  margin: 40px 10px 0px 40px;

  .book_card {
    border: 1px solid #eee;
    border-radius: 5px;
    width: 130px;
    height: 200px;
    float: left;
    margin-right: 30px;
    overflow: hidden;

    .card_img {
      width: 80%;
      height: 60%;
      margin: 0 10%;
      line-height: 130px;
    }

    .card_text {
      width: 70%;
      margin: 0 15%;
      text-align: left;
      font-size: 12px;

      div {
        margin-top: 8px;
      }

      .card_price {
        .card_now_price {
          float: left;
          color: #c30;
          font-weight: bolder;
          font-size: 16px;
        }

        .card_ori_price {
          float: right;
          text-decoration: line-through;
          font-size: 14px;
          color: #aaa;
          margin-top: 3px;
        }
      }
    }

    &:hover {
      width: 140px;
      height: 200px;
      border: 3px solid #98FB98;
      border-radius: 10px;
      cursor: pointer;
      z-index: 1000;
    }
  }
}

.book_detail {
  margin: 3% 0;

  .book_detail_img {
    width: 200px;
    height: 50%;
    float: left;
    margin: 20px 30px;
  }

  .book_detail_content {
    margin-top: 20px;
    margin-left: 260px;
    width: 200px;
    text-align: left;

    .book_detail_text {
      div {
        margin-top: 20px;
      }

      .book_detail_price {
        .book_detail_price_now {
          color: #c30;
          font-weight: bolder;
          font-size: 24px;
        }

        .book_detail_price_origin {
          margin-left: 10px;
          margin-top: 25px;
          text-decoration: line-through;
          font-size: 20px;
          color: #aaa;
        }
      }
    }

    .book_detail_button {
      width: 200px;
      margin-top: 20px;

      .button_picker {
        span {
          border: 1px solid #DBDBDB;
        }
        .button_picker_cnt {
          width: 50px !important;
        }

        .button_picker_btn {
          background-color: #DBDBDB;
          width: 20px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .btn_add_order {
        float: right;
        height: 30px;

        button:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.bm_header {
  background-color: #FAF0E6;
  height: 10%;
  line-height: 40px;
  text-align: center;
  position: absolute;
  top: 0px;
  border: 1px solid #C0C0C0;
  width: 100%;
}

.bm_footer {
  background-color: #FFE4E1;
  height: 10%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  border: 1px solid #C0C0C0;
}

.bm_lefter {
  background-color: #FFEBCD;
  width: 10%;
  height: 80%;
  float: left;
  position: absolute;
  top: 10%;
  text-align: center;
  border: 1px solid #C0C0C0;
  z-index: -100;

  .left_menu_item {
    margin-top: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}
